In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("adult.data.csv")

In [6]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## You must use Pandas to answer the following questions:

* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India.

#Sources:
* https://datapott.com/how-to-summarize-data-with-pandas-python/
* https://www.kaggle.com/dataraj/dplyr-in-python-r-style-coding-in-python

In [7]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
df.groupby('race').count()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
Amer-Indian-Eskimo,311,311,311,311,311,311,311,311,311,311,311,311,311,311
Asian-Pac-Islander,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039
Black,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124
Other,271,271,271,271,271,271,271,271,271,271,271,271,271,271
White,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816

In [10]:
#What is the average age of men?
df.groupby('sex').age.mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [13]:
df[df['sex']=='Male'].age.mean()

39.43354749885268

In [14]:
print(round(df.loc[df["sex"] == "Male", "age"].mean(), 1))

39.4

In [19]:
#What is the percentage of people who have a Bachelor's degree?
df.education.value_counts(normalize = "True")

HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64

In [26]:
df[df['education']=='Bachelors'].education.count() / len(df)

0.16446055096587942

In [31]:
print(round(
        100 * df.loc[df["education"] == "Bachelors"].size / df.size,
        1))

16.4

In [37]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
print(df.loc[(df['salary']=='>50K') & ((df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate'))].education.count()
/
df.loc[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')].education.count()
     )

0.47

In [38]:
higher_education = df.loc[
    df["education"].isin(["Bachelors", "Masters", "Doctorate"])
]

print( round(
    100
    * higher_education.loc[higher_education["salary"] == ">50K"].size
    / higher_education.size,
    1,
))

46.5

In [47]:
#What percentage of people without advanced education make more than 50K?

print(
df.loc[(df['salary']=='>50K') & (df['education']!='Bachelors') & (df['education']!='Masters') & (df['education']!='Doctorate')].education.count()
/
df.loc[(df['education']!='Bachelors') & (df['education']!='Masters') & (df['education']!='Doctorate')].education.count()
)

0.173713601914639

In [49]:
lower_education = df.loc[
    ~df["education"].isin(["Bachelors", "Masters", "Doctorate"])
]
print(round(
    100
    * lower_education.loc[lower_education["salary"] == ">50K"].size
    / lower_education.size,
    1,
))

17.4

In [50]:
#What is the minimum number of hours a person works per week?
df["hours-per-week"].min()

1

In [64]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
print(df.loc[(df["hours-per-week"]==df["hours-per-week"].min()) & (df["salary"]==">50K")].salary.count()
      /
      df.loc[df["hours-per-week"]==df["hours-per-week"].min()].salary.count()
     )

0.1

In [65]:
min_work_hours = df["hours-per-week"].min()
num_min_workers = df.loc[df["hours-per-week"] == min_work_hours]
print(round(
    100
    * num_min_workers.loc[num_min_workers["salary"] == ">50K"].size
    / num_min_workers.size,
    1
))

10.0

In [90]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
population_count = pd.DataFrame(df["native-country"].value_counts().reset_index().values, columns=["Country", "Population"])
population_count

rich_count = pd.DataFrame(df[df["salary"]==">50K"]["native-country"].value_counts().reset_index().values, columns=["Country", "Count_50K+"])
rich_count

combined = pd.merge(population_count, rich_count, on="Country")
combined

combined["Share"] = combined["Count_50K+"] / combined["Population"]
combined
combined = combined.sort_values(by='Share', ascending=False)
combined

combined.head(1)

   Country Population Count_50K+     Share
23    Iran         43         18  0.418605

In [92]:
highest_country = (
    df[["salary", "native-country"]]
    .groupby("native-country")
    .apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100)
)

highest_earning_country = highest_country.idxmax()
print(round(highest_country.max(), 1))

41.9

In [93]:
#Identify the most popular occupation for those who earn >50K in India.
occupation_count = pd.DataFrame(df[(df["salary"]==">50K")&(df["native-country"]=="India")]["occupation"].value_counts().reset_index().values, columns=["Occupation", "Count"])
occupation_count

         Occupation Count
0    Prof-specialty    25
1   Exec-managerial     8
2     Other-service     2
3      Tech-support     2
4             Sales     1
5  Transport-moving     1
6      Adm-clerical     1

In [94]:
print(
    df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K")][
        "occupation"
    ]
    .value_counts()
    .idxmax()
)

Prof-specialty